name: Ejecutar Hola Mundo
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Kotlin
        uses: fwilhe2/setup-kotlin@v1

      - name: Ejecutar Kotlin directamente
        run: kotlinc -script Main.kt
